<include file="Public:header" />

<div class="index">
    <a href="{:u('list/index', array('cid'=>1) )}" class="index-button knowledge"></a>
    <a href="{:u('list/index', array('cid'=>2) )}" class="index-button community"></a>
    <a href="{:u('list/index', array('cid'=>3) )}" class="index-button active"></a>
    <a href="{:u('list/index', array('cid'=>4) )}" class="index-button aid"></a>
    <a href="{:u('list/index', array('cid'=>5) )}" class="index-button sun"></a>
    <a href="{:u('index/appointment')}" class="index-button subscribe"></a>
    <a href="{:u('list/sublist', array('subid'=>26) )}" class="index-button" style=" width: 136px; height: 48px; bottom: 100px; right: 62px"></a>

	
	<a href="" class="close-win"></a>	
</div>

<include file="Public:footer" />