<include file="Public:header" />

<div class="listbg">
    <div class="back">
        <a href="{:u('index/appointment')}"> <img src="__PUBLIC__/img/back.jpg"/> </a>
    </div>

    <div class="list-wap">
        <div class="list-tab">
            <ul id="tab">
                <a href="{:u('list/sublist', array('subid'=>23) )}">
                    <li style="width: 48.5%;">咨询流程</li>
                </a>

                <li class="current" style="width: 48.5%;">预约系统</li>
            </ul>
        </div>

        <div class="msg">
            <div class="stat">
                <img src="__PUBLIC__/img/err.jpg" />
            </div>
         </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/appointment.js"></script>
<include file="Public:footer" />