<include file="Public:header" />
<body>
<ul class="bread">
    <li>添加分类</li>
</ul>

<div class="panel admin-panel">
    <div class="body-content">

        <form method="post" class="form-x" action="__URL__/insert" enctype="multipart/form-data" >

            <div class="form-group">
                <div class="label"><label>上级分类：</label></div>
                <div class="field">
                    <select name="pid" class="input w50">
                        <option value="0">顶级</option>
                        <foreach name="category" item="cate" key="key">
                            <option value="{$cate.id}">{$cate.html}{$cate.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label"> <label>分类名称：</label> </div>
                <div class="field"> <input type="text" class="input" name="name" value="" /> </div>
            </div>

            <div class="form-group">
                <div class="label"> <label>单网页：</label> </div>
                <div class="field">
                    <input type="radio" name="model_name" value="category" checked /> 否 &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="model_name" value="page"  /> 是
                </div>
            </div>

            <div class="form-group">
                <div class="label"> <ladbel>排序：</ladbel> </div>
                <div class="field"> <input type="text" class="input w50" name="sort" value="0" /> </div>
            </div>

            <div class="form-group">
                <div class="label"><label></label> </div>
                <div class="field">
                    <input type="hidden" name="display" value="0" />
                    <button class="button bg-main icon-check-square-o" type="submit">添 加</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<include file="Public:footer" />