<include file="Public:header" />
<body>
<ul class="bread">
    <li>文章分类</li>
</ul>

<form method="post" action="__URL__/del?all=1">
    <div class="panel admin-panel">
        <div class="panel-head">
            <a href="__URL__/add" target="right" style="color:#fff; background:#09c; padding:3px 6px;"><strong class="icon-plus"> 添加分类</strong></a>
        </div>

        <table class="table table-hover text-center">
            <tr>
                <th width="50">ID</th>
                <th style="text-align: left">分类名称</th>
                <th>操作</th>
            </tr>

            <foreach name="category" item="d" key="key">
            <tr id="list{$d.id}">
                <td>{$d.id}</td>
                <td  style="text-align: left">{$d.html}{$d.name}</td>
                <td>
                    <div class="button-group">
                        <a class="button border-main" href="__URL__/edit?id={$d.id}"><span class="icon-edit"></span> 修改</a>
                        <a class="button border-red" href="javascript:void(0)" onclick="return del({$d.id},'__URL__/del')"><span class="icon-trash-o"></span> 删除</a>
                    </div>
                </td>
            </tr>
            </foreach>


        </table>
    </div>
</form>

<div class="note" id="note">删除成功</div>

</body>

<include file="Public:footer" />

<script type="text/javascript">
function del(id, url){
    if(confirm("您确定要删除吗?")){
        $.post(url,{id:id}, function(ret){
            if(ret.state == '1'){
                $("#note").show();
                setTimeout(function () {
                    $("#note").hide();
                    $("#list" + id).remove();
                }, 500);
            }
        });
    }
}
</script>



